<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div class="table-responsive">
  <% if @ticket.data != 'N/A' %>
    <table class="table table-striped">
      <thead>
      <tr>
        <% @ticket.data['OneCallReferral']['CustomerDetails'].keys.each do |key| %>
          <th scope="col"><%= key %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% @ticket.data['OneCallReferral']['CustomerDetails'].values.each do |value| %>

          <td><%= value.to_s.truncate(50)%></td>


        <% end %>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
      <tr>
        <% @ticket.data['OneCallReferral']['ReferralDetails'].keys.each do |key| %>
          <th scope="col"><%= key %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% @ticket.data['OneCallReferral']['ReferralDetails'].values.each do |value| %>

          <td><%= value.to_s.truncate(50)%></td>


        <% end %>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
      <tr>
        <% @ticket.data['OneCallReferral']['LocationDetails'].keys.each do |key| %>
          <th scope="col"><%= key %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% @ticket.data['OneCallReferral']['LocationDetails'].values.each do |value| %>

          <td><%= value.to_s.truncate(50) %></td>


        <% end %>
      </tr>
      </tbody>
    </table>
    <% else %>
    <%= @ticket.txt %>
  <% end %>
</div>

<br/>
<div class="container-fluid">
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show XML</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Show GML</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Show GIF</button>
  </p>

  <div class="collapse multi-collapse" id="multiCollapseExample1">
    <div class="row">
      <div class="col">
        <div class="card card-body">
          <h2>XML</h2>
          <% if @ticket.xml.present? %>
          <code><pre><%= @ticket.data.to_xml %></pre></code>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="row">
    <div class="col">
        <div class="card card-body">
          <h2>GML</h2>
          <% if @ticket.gml_data.present? %>
            <code><pre><%= @ticket.gml_data.to_xml %></pre></code>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample3">
    <div class="row">
      <div class="col">
        <div class="card card-body">
          <h2>GIF</h2>
          <% if @ticket.gif.present? %>
            <img src="data:image/gif;base64,<%=@ticket.gif %>" width="50%">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <%= link_to "Back to tickets", tickets_path, class: 'btn btn-secondary' %>
    </div>

    <div class="col-md-2">
      <%= button_to "Delete this ticket", @ticket, method: :delete, class: 'btn btn-danger' %>

    </div>
  </div>
</div>
