<div id="<%= dom_id positive_response %>">
  <p>
    <strong>Station:</strong>
    <%= positive_response.station %>
  </p>

  <p>
    <strong>Locatecode:</strong>
    <%= positive_response.locateCode %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= positive_response.reason %>
  </p>

  <p>
    <strong>Isnotevisibletocontractor:</strong>
    <%= positive_response.isNoteVisibleToContractor %>
  </p>

  <p>
    <strong>Accountnameofpositiveresponseprovider:</strong>
    <%= positive_response.accountNameOfPositiveResponseProvider %>
  </p>

  <p>
    <strong>Server response:</strong>
    <%= positive_response.server_response %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= positive_response.ticket_id %>
  </p>

</div>
